@tailwind base;
@tailwind components;
@tailwind utilities;

header + * {
    padding-top: 5rem;
}

section:last-of-type {
    padding-bottom: 5rem;
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
}